:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$blue: #0d6efd;
$green: #39b100;
$red: #ef4036;
$white: #fff;

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100svh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 12px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button {
  transition: all 0.3s ease;
}

button.pointer-fine {
  padding: 10px 20px;
  border: 1px solid $blue;
  background-color: white;
  color: $blue;

  @media (pointer: fine) {
    &:hover {
      background-color: $blue;
      color: $white;
    }
  }
}

button.pointer-coarse {
  padding: 10px 20px;
  border: 1px solid $blue;
  background-color: white;
  color: $blue;

  @media (pointer: coarse) {
    &:hover {
      background-color: $blue;
      color: $white;
    }
  }
}

button.pointer-none {
  padding: 10px 20px;
  border: 1px solid $blue;
  background-color: white;
  color: $blue;

  @media (pointer: none) {
    &:hover {
      background-color: $blue;
      color: $white;
    }
  }
}

button.any-hover-hover {
  padding: 10px 20px;
  border: 1px solid $green;
  background-color: $white;
  color: $green;

  @media (any-hover: hover) {
    &:hover {
      background-color: $green;
      color: $white;
    }
  }
}

button.any-hover-none {
  padding: 10px 20px;
  border: 1px solid $green;
  background-color: $white;
  color: $green;

  @media (any-hover: none) {
    &:hover {
      background-color: $green;
      color: $white;
    }
  }
}

button.hover-hover {
  padding: 10px 20px;
  border: 1px solid $red;
  background-color: $white;
  color: $red;

  @media (hover: hover) {
    &:hover {
      background-color: $red;
      color: $white;
    }
  }
}

button.hover-none {
  padding: 10px 20px;
  border: 1px solid $red;
  background-color: $white;
  color: $red;

  @media (hover: none) {
    &:hover {
      background-color: $red;
      color: $white;
    }
  }
}
